logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
www/js
www/img
www/css
www/*.html
www/**/*.html
**/*.log
www/**/*.json
/www/

/build/

/tristar-retail-ui.sublime-workspace

/.sass-cache/

/generated/

/dist/

/tristar.sublime-workspace

*.glue

/app/css/main.less
