<div class="jumbotron">
    <h1>About this application...</h1>
    This application will read your location and return events that are local to you. It searches meetup.com and other
    providers and returns it in a single place.
</div>
<div class="row">
    <div class="col-md-4">
        <h2>UI code</h2>
        <p>Pure javascript in the middle with AngularJS at the edges hosted on Heroku. Check out the code...</p>
        <p><a class="btn btn-default" href="https://github.com/peterheard01/EventLst.Ui">Go »</a></p>
    </div>
    <div class="col-md-4">
        <h2>API code</h2>
        <p>Asp.net Web-API hosted on Appharbor. Check out the code...</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Go »</a></p>
    </div>
    <div class="col-md-4">
        <h2>About the developer</h2>
        <p>This project has been built by Pete Heard as an open source example of TDD, Clean Code and Clean Architecture.</p>
        <p><a class="btn btn-default" href="http://www.urlhelper.co.uk">Go »</a></p>
    </div>
</div>