<div ng-controller="EventsController" class="jumbotron">

    <div ng-show="vm.localEvents.length == 0" class="spinner">

        Fetching data...
        <span  us-spinner></span>


    </div>


    <div ng-show="vm.localEvents.length > 0">

        <div class="row" ng-repeat="event in vm.localEvents">
            <div class="col-md-4">
                {{event.Name}}
            </div>
            <div class="col-md-4">
                {{event.City}}
            </div>
            <div class="col-md-4">
                {{event.DateAndTime}}
            </div>
        </div>

    </div>

</div>




<geo-location-directive></geo-location-directive>